################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/obj
/Source/bin
/Source/.vs/PlanetsideExplorationTechnologies/v17
